In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Tell Jupyter where the file is
PL = "PlantList.csv"

In [ ]:
# Make a dataframe from the file
pldf = pd.read_csv(PL)

In [ ]:
# Check out the dataframe
pldf.head()

In [ ]:
# More checking things out
pldf["Reference"].head()

In [ ]:
# A dataframe with species mentioned only once segun criteria from both Genus and Species columns
pldd = pldf[['Genus.1','Species.1']].drop_duplicates()

In [ ]:
# The number of rows per genus
pldf['Genus'].value_counts()

In [ ]:
# Sorting by plant taxa
pldf.sort_values(['Family','Genus.1','Species.1'], ascending=[True,True,True])

In [ ]:
# Counts the number of rows each Genus has under the Species.1 column (aka not helpful)
pldf.groupby('Genus')['Genus.1'].count()

In [ ]:
# Counts the number of rows each plant genus has under each gibbon genus
pldf.groupby('Genus')['Genus.1'].value_counts()

In [ ]:
# Counts the number of plant species rows per genus for each gibbon genus
pldf.groupby(['Genus','Genus.1'],as_index=False)['Species.1'].count()

In [ ]:
# Lists the number of genera per family
pldf.groupby('Family')['Genus.1'].unique()

In [ ]:
# The number of rows for each species
pldf['Species.1'].value_counts()

In [ ]:
# Counts the numbers of unique values of each column
pldf.nunique()

In [ ]:
# Created a new column combining genus and species to make finding unique plant species easier
Genuspec = pldf["Genus.1"] + " " + pldf["Species.1"]
pldf["Genuspec"] = Genuspec
pldf.head()

In [ ]:
# Counts the number of unique values in the Genuspec column
pldf['Genuspec'].nunique()

In [ ]:
# Makes a list of the column headers
cols = pldf.columns.tolist()
cols

In [ ]:
# Moves Genuspec to the middle of the list
cols1 = cols [:-10] + cols[-1:] + cols[11:20]

In [ ]:
# Tells the dataframe to adopt the order in the column list, putting Genuspec in a more sensible position
pldf = pldf[cols1]
pldf.head()

In [43]:
# # Counts the number of unique plant genera per gibbon genus
pldf.groupby('Genus')['Genus.1'].nunique()
# # Counts the number of unique plant genera per gibbon species
pldf.groupby('Species')['Genus.1'].nunique()
# # Counts the number of unique plant families per gibbon genus and species
pldf.groupby('Genus')['Family'].nunique()
pldf.groupby('Species')['Family'].nunique()
# # Counts the number of unique plant species per gibbon taxa
pldf.groupby('Genus')['Species.1'].nunique()
pldf.groupby('Species')['Species.1'].nunique()

Genus
Hoolock                    100
Hylobates                  105
Hylobates; Symphalangus     43
Nomascus                   119
Symphalangus                68
Name: Family, dtype: int64

In [44]:
pldf.groupby('Reference')['Genus.1'].nunique()

Reference
Ahsan 1994 (Chunati)                             48
Ahsan 1994 (L1)                                  40
Ahsan 1994 (L2)                                  40
Ario 2011a                                       47
Ario 2011b                                       61
Atmanto et al. 2014                              15
BTNG 2010                                        49
Bach et al. 2017                                 50
Bangun et al. 2009; Bangun 2007                  10
Bartlett 1999                                    11
Bartlett 2009                                    27
Bartlett 2009; Barlett 1999                      18
Bartlett et al. 2015                              6
Barua & Gogoi 2012                               29
Berliana et al. 2013                             16
Bleisch & Chen 1991                               1
Borah 2015                                       50
Borah et al. 2014                                13
Bujarbarua & Das 2001                             1
Cheyne 2010                                      25
Chivers 1985                                      3
Chivers et al. 1975                              30
Chivers et al. 1980                              67
Chivers et al. 1980 (TS1/A)                       2
Clink et al. 2017                                46
Das 2012                                          1
Das et al. 2009                                   4
Duma 2007 (Group KC)                             48
Elder 2013                                       76
Fan et al. 2009 (G3)                             55
                                                 ..
Prastyono 1999                                   35
Raemaekers 1985                                  15
Raemaekers 1985; Mols et al. 2008                 1
Rahman 2011                                      49
Rahmuddin 2009                                   19
Santosa et al. 2012                              21
Sarma 2015                                       31
Sheeran 1992                                      9
Srikosamatara 1984                               21
Subramaniam 1981                                 11
Suherman 2001                                    13
Sultan 2009                                      13
Surono 2012                                      35
Sutrisno 2001                                    83
Suwanvecho et al. 2017                           89
Suyanti 2007                                     39
Tilson 1979                                      30
Tingpalapong et al. 1981                          5
Ungar 1992                                       29
Vogel et al. 2009                                27
Wahyuni & Nasution 2016                           3
Wang 2012                                        59
Whitington & Treesucon 1991                      53
Whitten 1982                                     35
Wu et al. 2009                                   39
Yanuar 2007                                       2
Yimkao & Srikosamatara 2006                      37
Yuan et al. 2014                                 14
Zhou 2008 (Group B mostly; Group A); Liu 2015    77
장하늘 2014 (Groups A,B,S)                           8
Name: Genus.1, Length: 120, dtype: int64